:root {
  --main-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --hero-text-color: #ffffff;
  --team-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --icon-color: #afb1b8;
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}
.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Шапка */

.header {
  border-bottom: 1px solid #ececec;
  background-color: var(--hero-text-color);
}
.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-header {
  color: #000000;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  display: flex;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.site-nav .current {
  position: relative;
  color: var(--accent-color);
}
.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav .logo {
  display: block;
  margin-right: 93px;
}

.contacts {
  display: flex;
}

.contacts .item:not(:last-child) {
  margin-right: 50px;
}

.contacts .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: var(--main-text-color);
}

.contact-icon {
  margin-right: 10px;
}

.header .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .link:hover,
.header .link:focus {
  color: var(--accent-color);
}

.contact-link {
  display: flex;
  align-items: center;
}

.contact-link:focus,
.contact-link:hover {
  fill: var(--accent-color);
}

/* Герой */

.hero-section {
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;

  max-width: 1600px;
  height: 600px;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
}
.hero-button,
.modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-btn {
  display: block;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.main-btn:focus {
  background-color: #188ce8;
}

.hero-title {
  width: 696px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}

/* Особенности компании */

.features-section {
  padding-bottom: 0;
}
.features-list {
  display: flex;
}

.features-icon {
  display: flex;
  width: inherit;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--team-bg-color);
}

.features-icon .icon {
  width: 70px;
  height: 70px;
}

.features-header {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}

.features-list .item:not(:last-child) {
  margin-right: 30px;
}

.features-list .item {
  width: 270px;
}

.features-list p {
  margin-bottom: 0;
}

/* Направления работы */

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.directions-list {
  display: flex;
}

.directions-list .item:not(:last-child) {
  margin-right: 30px;
}

.directions-thumb {
  position: relative;
}

.directions-name {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  bottom: 0;
  height: 70px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--hero-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Команда */
.team-section {
  background-color: var(--team-bg-color);
}

.team-list {
  display: flex;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list .item {
  background-color: var(--hero-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}
.team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-color);
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-list {
  display: inline-flex;
  margin-top: 16px;
}

.social-item + .social-item {
  margin-left: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: #fff;
}

.social-icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--hero-text-color);
}

/* Клиенты */

.clients-list {
  display: flex;
  align-items: center;
  margin-left: -30px;
}

.clients-list .clients-item {
  margin-left: 30px;
}
.clients-list .clients-item {
  flex-basis: calc(100% / 6 - 30px);
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients-item {
  border: 1px solid var(--icon-color);
  border-radius: 4px;
}

/* Портфолио */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list .item:not(:last-child) {
  padding-right: 8px;
}

.button {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--team-bg-color);
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 1.87;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-list .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-item .link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item .link:focus,
.portfolio-item .link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-thumb {
  position: relative;
  overflow: hidden;
}
.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: var(--hero-text-color);
}

.overlay-content {
  position: absolute;
  top: 63px;
  left: 24px;
  right: 24px;
}

.product-link:hover .product-overlay,
.product-link:focus .product-overlay {
  transform: translateY(0);
}

.card-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.portfolio-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

/* Футер */
.footer {
  background-color: var(--footer-bg-color);
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-content .block {
  flex-basis: calc((50% - 45px) / 2);
}

.footer-content .block:last-child {
  flex-basis: calc(50% - 15px);
}

.footer-content .contact-list {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-socials .social-list {
  margin: 0px;
}

.footer-socials .social-link {
  fill: var(--hero-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-title {
  margin-bottom: 20px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}

.footer-socials,
.footer-form {
  padding-top: 72px;
}

.form-button {
  display: inline-flex;
}

.footer-content .logo {
  display: block;
  margin-bottom: 20px;
}
.address {
  margin-bottom: 9px;
  font-style: normal;
  color: var(--hero-text-color);
}
.footer-contacts .contact-item {
  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--accent-color);
}

.footer-contacts .contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.logo-footer {
  color: var(--hero-text-color);
}

.footer-form-field {
  width: 352px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: inherit;
  color: var(--hero-text-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fotter-form-field:focus {
  border: 1px solid var(--accent-color);
  outline: var(--accent-color);
}

.fotter-form-field::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.send-icon {
  margin-left: 10px;
  align-items: center;
}

/* Модалка */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 528px;
  height: 581px;
  background-color: var(--hero-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  padding: 6px 7px 6px 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--hero-text-color);
  cursor: pointer;
}

.modal-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal:focus-within .modal-close {
  fill: var(--accent-color);
}

.modal-form {
  padding: 40px;
}

.modal-title {
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-color);
}

.form-item {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  line-height: 1.17;
}

.form-label {
  display: block;
  margin-bottom: 4px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.form-input {
  padding: 11px;
  padding-left: 35px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border: 1px solid var(--accent-color);
  outline: var(--accent-color);
}

.form-input:focus + .form-icon,
.form-input:hover + .form-icon {
  fill: var(--accent-color);
}

.comment {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.comment-field {
  margin-bottom: 20px;
}

.comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
  position: relative;
  margin-bottom: 30px;
}

.checkbox-label::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translateY(-50%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 3px;
}

.checkbox-input:checked + .checkbox-label::after {
  background-color: var(--accent-color);
  background-image: url(../images/icons/checked.svg);
  background-size: contain;
  border-color: var(--accent-color);
  background-origin: border-box;
}

.checkbox-input:focus + .checkbox-label::after,
.checkbox-input:hover + .checkbox-label::after {
  border-color: var(--accent-color);
}

.checkbox-label {
  margin-left: 30px;
}

.conditions-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-color);
}
