.form {
  padding: 40px;
}

.form__title {
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-color);
}

.form__item {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  line-height: 1.17;
}

.form__label {
  display: block;
  margin-bottom: 4px;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.form__input {
  padding: 11px;
  padding-left: 35px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  border: 1px solid var(--accent-color);
  outline: var(--accent-color);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .form__icon,
.form__input:hover + .form__icon {
  fill: var(--accent-color);
}

.comment {
  margin-bottom: 20px;
}

.comment__field {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.comment__field::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  position: relative;
  margin-bottom: 30px;
}

.checkbox__label::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translateY(-50%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 3px;
}

.checkbox__input:checked + .checkbox__label::after {
  background-color: var(--accent-color);
  background-image: url(../images/icons/checked.svg);
  background-size: contain;
  border-color: var(--accent-color);
  background-origin: border-box;
}

.checkbox__input:focus + .checkbox__label::after,
.checkbox__input:hover + .checkbox__label::after {
  border-color: var(--accent-color);
}

.checkbox__label {
  margin-left: 30px;
}

.checkbox__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-color);
}
